*{
    margin: 0;
    padding: 0;

    --bgColor: #66684d;
    --bodyColor: #7B7D5C;
    --borderColor: rgb(50, 49, 49);
    --shadowColor: rgb(82, 79, 79);
}
body{
    background-color: var(--bodyColor);
    height: 100vh;
    display: flex;
    align-items: center;
}
.wrapper{
    border: 0px solid var(--borderColor);
    width: 70vmin;
    border-radius: 0.5rem;
    margin: auto;
    background-color: var(--bgColor);
    box-shadow: 5px 5px 10px var(--shadowColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    font-family:'Courier New', Courier, monospace;
    margin: 1rem 0rem;
    text-align: center;
    color: #333318;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}
.boxes{
    width: 18vmin;
    height: 18vmin;
    background-color: azure;
    border-radius: 0.5rem;
    border: 0px solid black;
    margin: 0.2rem;
    box-shadow: 5px 5px 10px var(--shadowColor);
    cursor: pointer;
    font-size: 8vmin;
}
.reset-btn{
    background-color: var(--bodyColor);
    padding: 0.7rem  1.5rem;
    border-radius: 0.5rem;
    color: azure;
    font-size: 1.2rem;
    border: none;
    box-shadow: 5px 5px 10px var(--shadowColor);
    margin: 0.5rem ; 
    cursor: pointer;
}

h3{
    color: rgb(98, 154, 16);
    font-size: 1.5rem;
    /* display: none; */
}